{
	"trailingComma": "es5",
	"useTabs": false,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"tabWidth": 2,
	"endOfLine": "lf",
	"printWidth": 140
}
