/* main styles */
/* ----------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.full-screen {
	background-color: blanchedalmond;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	padding-top: 140px;
}

.pl-body {
	position: fixed;
	bottom: 10px;
	left: 10px;
}
.pl-wrapper {
	position: absolute;
	width: auto;
	max-width: 320px;
	height: auto;
	max-height: 300px;
	margin: 10px auto;
	padding: 15px;
	/* border: 1px solid blanchedalmond; */
	border-radius: 1rem;
	background-color: bisque;
	box-shadow: 0 2px 8px 0 #34343434;

	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: 0;
	opacity: 0;
	transition: bottom 350ms ease-in-out, opacity 200ms ease-in-out;
}

.pl-wrapper-image-active {
	bottom: 190px;
	opacity: 1;
	transition: bottom 350ms ease-in-out, opacity 0ms ease-in-out;
}
.pl-wrapper-info-active {
	bottom: 100px;
	opacity: 1;
	transition: bottom 250ms ease-in-out, opacity 200ms ease-in-out;
}
.pl-wrapper-line {
	opacity: 1;
}

/* player */
/* ------ */
.pl-start {
	position: relative;
}

.pl-image {
	display: flex;
	width: 180px;
	overflow: hidden;
	border: none;
	border-radius: 50%;
	margin: 0 auto;
	box-shadow: 0 2px 8px 0 #34343434;
	animation: plImageRotation 10s linear infinite;
}

@keyframes plImageRotation {
	0% {
		transform: rotate(0deg) scale(0.8);
	}

	25% {
		transform: rotate(90deg) scale(1);
	}

	50% {
		transform: rotate(180deg) scale(0.8);
	}

	75% {
		transform: rotate(240deg) scale(1);
	}

	100% {
		transform: rotate(360deg) scale(0.8);
	}
}

.pl-image__source {
	width: 100%;
	object-fit: cover;
}

.pl-btn__play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	width: 60px;
	cursor: pointer;
}

.pl-info {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	font-size: 12px;
	font-family: Tahoma, sans-serif, monospace;
	font-weight: 900;
	line-height: 22px;
}

.pl-text {
	width: 100%;
	max-width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pl-line {
	position: relative;
	max-width: 70%;
	width: 320px;
	height: 8px;
	margin: 15px auto;
	border: none;
	border-radius: 8px;
	background-color: blanchedalmond;
}

.pl-line__track {
	width: 0%;
	height: 100%;
	background-color: darkcyan;
	border: none;
	border-radius: 8px;
}
.pl-duration {
	font-family: Tahoma, sans-serif, monospace;
	font-size: 10px;
	font-weight: 900;
	position: absolute;
	top: -20px;
	right: 10px;
}
